* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 35px;
}

.primeira {
    background-color: rgba(186, 243, 246, 1);
    padding-left: 100px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.segunda {
    background-color: rgba(186, 243, 246, 1);
    padding-left: 100px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 237px;
    height: 229px;
    top: 116px;
    left: 120px;
    border-radius: 150px;
}

h1 {
    color: rgba(245, 135, 221, 1);
    font-weight: 700px;
    line-height: 43.57px;
    font-size: 36px;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 25px;
    padding-right: 25px;

}

p {
    color: rgba(0, 0, 0, 1);
    font-weight: 400px;
    line-height: 29.05px;
    font-size: 24px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 1940x;

}

a {
    color: rgba(0, 0, 0, 1);
    font-weight: 400px;
    line-height: 29.05px;
    font-size: 24px;
    list-style: 1440px, 167px, 620px;
    rotate: 0, 1°;
    width: 324.1px;
    top: 562.56px;
    left: 120px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
}


.series {
    color: rgba(245, 135, 221, 1);
    font-weight: 700px;
    line-height: 43.57px;
    font-size: 36px;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 3px;
    padding-right: 5px;
}

ol {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    line-height: 29.05px;
    font-size: 24px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.musicas {
    color: rgba(245, 135, 221, 1);
    font-weight: 700px;
    line-height: 43.57px;
    font-size: 36px;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 3px;
    padding-right: 5px;
}

ul {
    color: rgba(0, 0, 0, 1);
    font-weight: 400px;
    line-height: 29.05px;
    font-size: 24px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: rgba(217, 217, 217, 1);
    margin-top: 10px;
    padding: 10px;
}

h3 {
    color: rgba(0, 0, 0, 1);
    font-weight: 700px;
    line-height: 16.94px;
    font-size: 14px;
    padding-left: 850px;
}